html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

nav {
    display: flex;
}

.headerLayout {
    padding: 0px 16px;
    position: fixed;
    display: flex;
    width: 100%;
    background: rgb(255, 255, 255);
    justify-content: space-between;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px;
}

.headerWrapper {
    margin-top: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 105px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.headerUpper {
    display: flex;
    width: 95%;
    min-height: 48px;
    max-height: 72px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    background: url(../img/logo.png);
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 80px;
    cursor: pointer;
    background-size: contain;
}

.statusWrapper {
    display: inline-flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.userButtonWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.userButton {
    margin-left: 10px;
    position: relative;
    padding: 16px;
    display: inline-flex;
    width: auto;
    min-width: 30px;
    max-height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.headerContentLayout {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 56px;
    z-index: 999;
}

.SearchBar {
    display: flex;
    width: 95%;
    min-height: 56px;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;

}

.categorySection {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 56px;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    user-select: none;
}

.categoryWrapper {
    padding: 0 6px;
    min-height: 56px;
    position: relative;
    margin-right: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(13, 13, 13);
    cursor: pointer;
}

.searchInputWrapper {
    position: relative;
    padding: 0px 30px 0px 16px;
    display: inline-flex;
    width: 260px;
    height: 36px;
    background: rgb(243, 243, 243);
    align-items: center;
    border-radius: 8px;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.3);
}

.searchInput {
    border: none;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.02em;
    background: rgb(243, 243, 243);
    color: rgb(51, 51, 51);
}

.container {
    min-height: 150px;
    margin-top: 160px;
    margin-bottom: -44px;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px
}

.discoverWrapper {
    background: rgb(255, 255, 255);
    padding: 0px 0px 64px;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.filterWrapper {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
}

.filterLayout {
    margin-top: 24px;
    width: 100%;
    position: relative;
    z-index: 99;
}

.filterOptions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto hidden;
}

.wrap {
    display: inline-flex;
    padding-right: 50px;
    padding-left: 1rem;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.styledButton {
    display: flex;
    position: relative;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    border-radius: 3px;
    border: 1px solid rgb(230, 230, 230);
    background: rgb(255, 255, 255);
    overflow: hidden;
    outline: none;
    cursor: pointer;
    padding: 0 8px;
    color: rgb(85, 85, 85);
    font-weight: normal;
}

.infinityContainer {
    min-height: 150px;
    margin-bottom: -44px;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
}

.InfinityList_resultCounter {
    margin: 12px 5px;
}

.InfinityList_resultWrapper {
    font-size: 14px;
    line-height: 24px;
    color: rgb(61, 61, 61);
    padding: 6px 16px 26px;
    letter-spacing: -0.08px;
}

.InfinityList_resultCounter > span {
    color: rgb(255, 87, 87);
}

.InfinityList_projectCardWrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    gap: 10px;
    margin: 0px 0px 56px;
}

.projectCardWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.26);
}

.projectCard {
    display: block;
}

.projectCard_ImageBox {
    position: relative;
}

.imageWrapper {
    position: relative;
    object-fit: contain;
    box-sizing: border-box;
}

.imageWrapper a img {
    width: 100%;
    height: 100%;
}

.projectCard_InfoBox {
    margin: 0 6px;
}

.codeName {
    color: rgb(61, 61, 61);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
}

.title {
    color: rgb(61, 61, 61);
    font-size: 16px;
    font-weight: bold;
    text-size-adjust: auto;
}

.projectCardFeeDay > span {
    color: rgb(255, 87, 87);
    font-size: 12px;
}

.projectCardDday > span {
    font-weight: 800;
    color: rgb(14, 91, 180);
}

